.md-footer__inner { 
    display: none !important;
}

.wy-nav-side {
    width: auto;
    /* overflow-y: scroll; */
}

/*
.rst-versions { 
    display: none !important;
}*/


/*
.rst-current-version{ 
    display: none !important;
}
*/


.wy-nav-content {
    max-width: none !important;
}


.wy-side-nav-search {
    background: rgb(61, 61, 61);
}

.wy-nav-top,.wy-nav-side {
    /* background: rgb(42, 36, 49); */
    background: rgb(40, 40, 40);
}

.rst-versions .rst-current-version {
    /* background: rgb(42, 36, 49); */
    padding: 1vw;
    height: 1vw;
    text-align: center;
    background: rgb(61, 61, 61);
    border-top:solid 5px rgb(71, 114, 179);
}


.rst-content {
    //text-indent: 40px;
}

.wy-dropdown-menu, .wy-dropdown.wy-dropdown-bubble .wy-dropdown-menu,
.wy-menu-vertical li.on a, .wy-menu-vertical li.on a:hover, .wy-menu-vertical li.current > a, .wy-nav-content {
  background: rgb(220, 220, 220);
}

.wy-nav-content-wrap, .wy-body-for-nav {
  background: rgb(170, 170, 170);
}

.wy-side-nav-search, .wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a,
.rst-versions, .rst-versions .rst-other-versions dd a,
.rst-versions .rst-current-version .fa,
.rst-versions .rst-current-version .icon {
  color: rgb(196, 196, 196);
}

code {
    color: black;
}
@media only screen and (min-width: 1024px){
    .wy-nav-content-wrap {
        max-width: 40vw;
    }
}

img.center-image {
    text-align: center;
}

.md-typeset .note > .admonition-title, .md-typeset .note > summary {
  background-color: red;
}


.rst-content .tip .admonition-title {
  background: rgb(140, 170, 170);
}
.rst-content .tip {
  background: rgb(196, 215, 215);
}


.rst-content .warning .admonition-title {
  background: rgb(170, 170, 140);
}
.rst-content .warning {
  background: rgb(215, 215, 196);
}


.rst-content .danger .admonition-title {
  background: rgb(170, 145, 145);
}
.rst-content .danger {
  background: rgb(196, 170, 170);
}

