
.md-footer__inner { 
    display: none !important;
}

.wy-nav-content {
    max-width: none !important;
}

.wy-side-nav-search {
    background: rgb(98, 120, 120);
}

.wy-nav-top,.wy-nav-side,.rst-versions .rst-current-version {
    /* background: rgb(42, 36, 49); */
    background: rgb(90, 90, 90);
}

.rst-versions{
    border-top:solid 10px rgb(42, 36, 49);
}

.rst-content {
    //text-indent: 50px;
}

.wy-dropdown-menu, .wy-dropdown.wy-dropdown-bubble .wy-dropdown-menu,
.wy-menu-vertical li.on a, .wy-menu-vertical li.on a:hover, .wy-menu-vertical li.current > a, .wy-nav-content {
  background: rgb(240, 240, 240);
}

.wy-nav-content-wrap, .wy-body-for-nav {
  background: rgb(170, 170, 170);
}
.wy-side-nav-search, .wy-side-nav-search > a, .wy-side-nav-search .wy-dropdown > a,
.rst-versions, .rst-versions .rst-other-versions dd a,
.rst-versions .rst-current-version .fa,
.rst-versions .rst-current-version .icon {
  color: rgb(196, 196, 196);
}

code {
    color: black;
}
@media only screen and (min-width: 1024px){
    .wy-nav-content-wrap {
        max-width: 40vw;
    }
}

img.center-image {
    text-align: center;
}

.md-typeset .note > .admonition-title, .md-typeset .note > summary {
  background-color: red;
}


.rst-content .tip .admonition-title {
  background: rgb(140, 170, 170);
}
.rst-content .tip {
  background: rgb(196, 215, 215);
}


.rst-content .warning .admonition-title {
  background: rgb(170, 170, 140);
}
.rst-content .warning {
  background: rgb(215, 215, 196);
}


.rst-content .danger .admonition-title {
  background: rgb(170, 145, 145);
}
.rst-content .danger {
  background: rgb(196, 170, 170);
}
